//CORES 1
$cor-primaria: #37ab00;
$cor-fundo: #fbfef4;
$cor-fundo2: #fff;
$branco-opaco: #ffffffb3;
$preto-transparent-30: #0000004d;
$preto-transparent-20: #00000033;
$preto-transparent-03: #00000008;
$preto-transparent-70: #000000b3;

//CORES 2
/* $cor-primaria: #ab0000;
$cor-fundo: #0b0e04;
$cor-fundo2: #000;
$branco-opaco: #000000b3;
$preto-transparent-30: #ffffff4d;
$preto-transparent-20: #ffffff33;
$preto-transparent-03: #ffffff08;
$preto-transparent-70: #ffffffb3; */